@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes scale{
  from {
		transform: scale(0, .025);
	}
	to {
		transform: scale(1, .025);
	}
}

@keyframes slideDown{
  from{
    transform: translateY(-105%)
  } to {
    transform: translateY(0)
  }
}

@keyframes sail {
  0% {
    transform: translateX(-30px);
    
  }
  100% {
    transform: translateX(30%);
  }
  0%{
    transform: translatex(-30px)
  }
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, 50px, 0);
  }
}

@keyframes slideIn{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slideOut{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}


body{
    background-color: antiquewhite;
    margin: 0;
    height:100vh;
    width: 100vw;
    animation: fadeIn 1.5s;
} 

.beginning_animation{
    animation: bounce .5s ease-in-out infinite alternate;
    position: absolute;
    left: 50%;
    bottom: 10%;
}

.funnel-display-fontUSAGE {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
.parallax {
    background-image: url('background_img.png');
    /* Full height */
    height: 100vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:.8;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

hr{
  border-top: none;
  background: burlywood;
  height: .5%;
  border: none;
  width: 50%;
}

li{
  color:darksalmon;
}


.title{
    background-color: white;
    color:black;
    width: fit-content;
    height:fit-content;
    padding: 2%;
    font-size: 175% !important;
    text-align: center;
}

.information{
  display: flex;
  flex-direction: column;
  padding: 2%;
  color: saddlebrown;
  background-color: antiquewhite;
  font-size: 110% !important;
  align-items: center;

}

.ship {
  border-radius: 10px;
  box-shadow: inset -5px 5px 0px rgba(0, 0, 0, 0.3);
  animation: sail 8s ease-in-out infinite;
}


  


#thought-box{
  display: none;
}


.button{
  font-size: 200%;
  padding: 1%;
  color: darksalmon;
}
.button:hover{
  border-radius: 10%;
  background-color: black;
  color: antiquewhite;
   transition: .4s ease-in-out;
}

.slide-element{
  display: none;
}

.fadeC{
  animation: fadeIn 1.2s ease-in-out;
}

.slid{
  animation: slideDown 1s ease-in-out;
  animation-delay: .1s;
}

.color{
  color:darksalmon !important;
  background-color: bisque;
  text-align: center;
}

.display{
  display: block !important;
}

.scaled{
  animation: scale 1s ease-in-out;
}